<table width="100%" align="center">
    <tr>
        <td>
            Sincroniza las Salas a los eventos
        </td>
    </tr>
</table>
<br/>
<br/>
<br/>
<table width="100%" align="center">
    <tr>
        <form asp-action="Sincronizar">
        <td>
            <input type="text" name="Email" style="width:125px">
        </td>
        <td>
            <button class="btn-primary" type="submit"> Sincronizar</button>
        </td>
        </form>
    </tr>
</table>

<table width="100%" align="center">
    <tr>
        <td>

        </td>
    </tr>
</table>