@using Microsoft.AspNetCore.Mvc
@model List<ProyectoModeradores.Models.Sala>
<table>
    <tr>
        <td>

            <a class="btn-link" onclick="mostrarModal()"> importar Archivo</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn-link" onclick="mostrarModalNuevaSala()"> Nueva Sala</a>
        </td>
    </tr>
</table>



<table cellpadding="6" width="100%" align="center" id="Main_DataTable" class="table">
    <thead>
        <tr>
            <td>
                Codigo
            </td>
            <td>
                Sala
            </td>
            <td>
                Area
            </td>
            <td>
                Status Actual
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>
</table>


<div class="modal fade" id="ImportFile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TitleSearchDest">Nuevo Trailer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Moderadores" asp-action="Import" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-4"><label>Archivo </label></div>
                            <div class="col-6">
                                <input type="file" id="FileData" name="FileData" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Importar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="NuevaSala" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TitleSearchDest">Nuevo Trailer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Moderadores" asp-action="Import" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-4"><label>Archivo </label></div>
                            <div class="col-6">
                                <input type="file" id="FileData" name="FileData" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Importar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Moderadores.js"></script>