@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <Table width="100%" height="100%" aling="center" >
        <tr>
            <td>
                <table width="100%" align="center" cellpadding="6" border="1">
                    <form asp-action="Index" asp-controller="Moderadores" method="post">
                    <tr>
                        <td>
                            UserName:
                        </td>
                        <td>
                            
                            <input type="text" name="User" />
                        </td>
                        <td>
                            Contraseña:
                        </td>
                        <td>
                            <input type="password" name="Pass" />
                        </td>


                    </tr>
                    <tr>
                        <td align="center" colspan="4">
                            <button type="submit"> Entrar</button>
                        </td>
                    </tr>
                    </form>
                </table>
            </td>
        </tr>
    </Table>


    <a class="btn-link" onclick="mostrarModal()"> importar Archivo</a>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<div class="modal fade" id="ImportFile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TitleSearchDest">Nuevo Trailer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Area" asp-action="Import" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-4"><label>Archivo </label></div>
                            <div class="col-6">
                                <input type="file" id="FileData" name="FileData" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Importar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Moderadores.js"></script>