@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <Table width="100%" aling="center"> 
        <tr>
            <td>
                Principal
            </td>
        </tr>
    </Table>
</div>
