<table width="100%" align="center">
    <thead>
    <tr>
        <td>Evento</td>
        <td> Description</td>
        <td>Moderador </td>
        <td>Sala</td>
        <td>Area</td>
        <td>Status</td>
        <td>Hora Inicio</td>
        <td>Hora Fin</td>
        <td> Hora Actual : </td>
    </tr>
</thead>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>