html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.balanceLoad-tableHeader {
    border-style: solid;
    border-color: #b1b1b1;
    background-color: #d1d1d1;
    border-width: 2px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.balanceLoad-tableCell {
    border-style: solid;
    border-color: #b1b1b1;
    background-color: #ebebeb;
    border-width: 2px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.balanceLoad-tableCellRight {
    border-style: solid;
    border-color: #b1b1b1;
    background-color: #ebebeb;
    border-width: 2px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: right;
}

.balanceLoad-tableCellCenter {
    border-style: solid;
    border-color: #b1b1b1;
    background-color: #ebebeb;
    border-width: 2px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}

.balanceLoad-tableCellBlue {
    border-style: solid;
    border-color: #b1b1b1;
    background-color: #1b6ec2;
    border-width: 2px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ffffff;
}

.text-Request-Info {
    color = #b1b1b1;
}

balanceLoad-table {
    width: 600px;
}

.detailHeader {
    border-style: solid;
    border-color: #b1b1b1;
    background-color: #d1d1d1;
    border-width: 1px;
    width: 80px;
    font-size: 12px;
    text-align: center;
}

.detailCell {
    border-style: solid;
    border-color: #b1b1b1;
    background-color: #ebebeb;
    border-width: 1px;
    width: 80px;
    font-size: 12px;
    text-align: right;
}

.detailCellBold {
    border-style: solid;
    border-color: #b1b1b1;
    background-color: #ebebeb;
    border-width: 1px;
    width: 80px;
    font-size: 12px;
    text-align: right;
    font-weight: bold;
}

.detailTitleGray {
    border-style: solid;
    border-color: #b1b1b1;
    background-color: #d1d1d1;
    border-width: 1px;
    width: 200px;
    font-size: 12px;
    text-align: left;
}

.detailTitleGrayShort {
    border-style: solid;
    border-color: #b1b1b1;
    background-color: #d1d1d1;
    border-width: 1px;
    width: 120px;
    font-size: 12px;
    text-align: left;
}

.brShort {
    font-size: 4px;
}

.bold {
    font-weight: bold;
}

.detailTitleBold {
    font-weight: bold;
}

.detailTitleBlue {
    border-style: solid;
    border-color: #b1b1b1;
    background-color: dodgerblue;
    border-width: 1px;
    width: 200px;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF
}

.detailTitleBlueShort {
    border-style: solid;
    border-color: #b1b1b1;
    background-color: dodgerblue;
    border-width: 1px;
    width: 120px;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF
}

.detailTitleGrayCell {
    border-style: solid;
    border-color: #b1b1b1;
    background-color: #d1d1d1;
    border-width: 1px;
    width: 200px;
    font-size: 12px;
}

.detailTitleCell {
    border-style: solid;
    border-color: #b1b1b1;
    background-color: #ebebeb;
    border-width: 1px;
    width: 200px;
    font-size: 12px;
}

.detailTitleCellShort {
    border-style: solid;
    border-color: #b1b1b1;
    background-color: #ebebeb;
    border-width: 1px;
    width: 120px;
    font-size: 12px;
}

.iconPlus {
    width: 20px;
    padding-right: 5px;
}

.configurationContainer {
    margin-left: 50px;
}

.tree {
    margin-left: 30px;
}

.inputCell {
    width: -webkit-fill-available;
    height: fit-content(100%);
}

.tableCell {
    font-size: 12px;
}

.tableCellBold {
    font-size: 12px;
    font-weight: bold;
}

.inpuCantidad {
    border-style: solid;
    border-radius: 3px;
    border-color: #d1d1d1;
    border-width: 1px;
    margin-bottom: 2px;
    width: 60px;
}

#TitleSearchDest {
    color: floralwhite;
}

.modal-header {
    background: linear-gradient(to left, #91C8ED, #064688);
}

.tableCellBold {
    font-size: 12px;
    font-weight: bold;
}

.inpuCantidad {
    border-style: solid;
    border-radius: 3px;
    border-color: #d1d1d1;
    border-width: 1px;
    margin-bottom: 2px;
    width: 60px;
}

#exampleModalLongTitle {
    color: floralwhite;
}

.modal-header {
    background: linear-gradient(to left, #91C8ED, #064688);
}

.aEleccion:focus {
    background: #064688;
}

@font-face {
    font-family: VOGA;
}

body {
    font-family: VOGA !important;
    font-size: 48px;
}

caption {
    font-weight: bold;
    font-size: 49px;
    text-align: center;
    color: #333;
    margin-bottom: 16px;
}

table {
    border-collapse: collapse;
    border: 10px black;
    text-align: center;
    vertical-align: middle;
}


th, td {
    border: 1px solid black;
    padding: 8px;
}


thead {
    background-color: orange;
    color: white;
}

tbody th {
    background-color: #36c;
    color: #fff;
    text-align: left;
}

tbody tr:nth-child(even) th {
    background-color: #25c;
}

.cell-highlight {
    background-color: orange;
    font-weight: lighter;
}


input, select, button {
    font-size: 20px !important;
}

#titleDiv, label {
    text-shadow: 4px 4px 4px #aaa;
}

#myModalLabel {
    font-size: 30px !important;
    text-shadow: 4px 4px 4px #aaa;
}

#map {
    height: 300px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.myShowImage {
    margin-bottom: 20px;
}

#modalRow1 {
    margin-bottom: 10px;
}

#largerPOIimage {
    height: 100px;
}

#wuLogo {
    width: 150px;
}

#logoImage {
    width: 50%;
}

#logoImageDiv {
    margin-top: 50px;
    margin-bottom: 10px;
}

#image1, #image2, #image3, #image4, #image5, #image6 {
    margin-top: 10px;
}

#userEntryRow {
    margin-bottom: 30px;
}

#mapRow {
    margin-top: 40px;
    margin-bottom: 30px;
}

#reloadButton {
    margin-top: 20px;
}


