

@model ProyectoModeradores.Models.Moderador

<table width="100%" align="center" border="1" cellpadding="4">
    <tr>
        <td>
            Nombre
        </td>
        <td>
            <input type="text" name="Name">
        </td>
        <td>
            Apellido Paterno
        </td>
        <td>
            <input type="text" name="ApellidoP">
        </td>
        <td>
            Apellido Materno
        </td>
        <td>
            <input type="text" name="ApellidoM">
        </td>
    </tr>
    <tr>
        <td></td>

        <td>
            Area Principal
        </td>
        <td>
            <select name="Area1" class="form-control" style="width:300px">
                <option Value=1 selected> Ciencias</option>
            </select>
        </td>
        <td>
            Area Secundaria
        </td>
        <td>
            <select name="Area2" class="form-control" style="width:300px">
                <option Value=2 selected> Matematicas</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="3" align="right">
            institucion
        </td>
        <td colspan="3">
            <select type="text" name="Insitucion">
                <option Value=1 selected> UAEMEX</option>
            </select>
        </td>
    </tr>
</table>
