@using Microsoft.AspNetCore.Mvc

<table>
     <form asp-action="Consultar" asp-controller="Moderadores"  method="post">
    <tr>
       
        <td>
            <input type="text" name="User" />
        </td>
        <td>
            <input type="password" name="Pass" />
        </td>
        
         
    </tr>
    <tr>
        <td>
            <button type="submit"> Entrar</button>
        </td>
    </tr>
    </form>
</table>